body, h1 {
    margin: 0;
    overflow-x: hidden;
}

@keyframes slideRightToLeft {
  0% {
    transform: translate(+300%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slideRightToLeftEarly {
  0% {
    transform: translate(-150%, -5px)
  }
  50% {
    transform: translate(-150%, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slideRightToLeftLate {
  0% {
    transform: translate(+150%, 5px)
  }
  50% {
    transform: translate(+150%, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}