.Folded {
    height: 100vh;
    display: grid;
    place-content: center;
}

.Folded_nameContainer {
    display: flex;
    place-content: center;
}

.Folded_letterContainer {
    position: relative;
    display: flex;
}

.Folded_letter {
    font-size: clamp(2rem, 9vw, 10rem);
    font-family: 'Alfa Slab One', sans-serif;
    font-weight: 900;
    z-index: 1;
    color: #540D6E;
}

.Folded_letter::before,
.Folded_letter::after {
    content: attr(data-letter);
    position: absolute;
    top: 0;
    left: 0;
	transform-origin: 0 50%;
	transition: all .3s;
}

.Folded_letter::before {
	transform: scale(1.01, 1);
	color: transparent;
	text-shadow: 0px 0px 0px rgba(0,0,0,0.15);
}

.Folded_letter::after {
	transition: all .3s;
	text-shadow: 2px 0px 1px rgba(0,0,0,0.15);
	transform: rotateY(-15deg);
}

.Folded_letter:hover{
    color: #4D0C64
}

.Folded_letter:hover::after{    
	background: -webkit-linear-gradient(left, #4D0C64 0%, #733988 75%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transform: rotateY(-40deg);
}

.Folded_letter:hover::before{
	transform: scale(0.85, 1) skew(0deg, 10deg);
}    