.Pendulum {
    display: grid;
    place-content: center;
}

.Pendulum_nameContainer {
    display: flex;
    place-content: center;
}

.Pendulum_letter {
    font-size: clamp(2.5rem, 9vw, 6rem);
    transform-origin: 50% -100%;
    color: #E2F1FF;    
}