.Pendulum {
    display: grid;
    place-content: center;
}

.Pendulum_nameContainer {
    display: flex;
    place-content: center;
}

.Pendulum_letter {
    font-size: clamp(2.5rem, 9vw, 6rem);
    transform-origin: 50% -100%;
    color: #E2F1FF;    
}

.Pendulum_letter:first-child {
    animation: firstPendulum 1s alternate ease-in infinite;
}

.Pendulum_letter:last-child {
    animation: lastPendulum 1s alternate ease-out infinite;
}

@keyframes firstPendulum {
    0% {
        transform: rotate(35deg);
    }
    50% {
        transform: rotate(0deg);
    }
}

@keyframes lastPendulum {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-35deg);
    }
}