.HomeSection {
    height: 100vh;
    height: 100svh;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: center;
    text-align: center;
    background-image: url('../../assets/polygon-scatter-haikei-mobile.svg');
    aspect-ratio: 960/540;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.HomeSection_main {
    display: grid;
    gap: 1rem;
}

.HomeSection_button {
    padding: .5em 0;
    font-weight: bold;
    font-size: clamp(1rem, 3vw, 1.5rem);
    color: #00C6BD;
    border: 1px solid #00C6BD;
    background: linear-gradient(to left, #141E30 50%, #243B55 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    width: clamp(120px, 50vw, 400px);
    justify-self: center;
    border-radius: 5px;
}

.HomeSection_button:hover {
    cursor: pointer;
    background-position: left;
}

.HomeSection_scrollContainer {
    padding-bottom: 2rem;
    display: flex;
    place-content: center;
}

.HomeSection_scrollButton {
    display: grid;
    row-gap: 0.5rem;
}

.HomeSection_scrollButton:hover svg,
.HomeSection_scrollButton:hover span {
    cursor: pointer;
    color: #00C6BD;
    fill: #00C6BD;
}

.HomeSection_scrollText {
    font-size: clamp(0.8rem, 3vw, 1rem);
    color: #E2F1FF;
}

.HomeSection_scrollTriangle {
    width: 1rem;
    height: auto;
    place-self: center;
    fill: #E2F1FF;
    stroke-width: 3;
}

@media screen and (min-width: 1400px) {
    .HomeSection {
        background-image: url('../../assets/polygon-scatter-haikei.svg');
    }
}



