.ProjectsSection {
    display: grid;
    padding-top: 4rem;
    padding-bottom: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 2rem;
    color: #E2F1FF;
    overflow: hidden;
    position: relative;
}

.ProjectsSection_background {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.ProjectsSection_background > rect {
    width: 100%;
    height: 100%;
}

.ProjectsSection_header {
    text-align: center;
    font-size: clamp(2rem, 9vw, 3rem);
}

.ProjectsSection_header > span{
    color: #00C6BD;
}

.ProjectsSection_projectContainer {
    display: grid;
    gap: 1rem;
    max-width: 850px;
    margin: 0 auto;
}

.ProjectsSection_imageContainer {
    position: relative;
}

.ProjectsSection_projectImage {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.ProjectsSection_imageOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #141E30;
    border-radius: 5px;
}

.ProjectsSection_descriptionContainer {
    display: grid;
    gap: 1rem;
}

.ProjectsSection_bold {
    font-weight: bold;
    text-decoration: underline;
}

.ProjectsSection_textContainer {
    display: grid;
    gap: 0.5rem
}

.ProjectsSection_text {
    font-size: clamp(1rem, 4vw, 1.5rem);
    font-family: 'Poppins', sans-serif;
}

.ProjectsSection_buttonContainer {
    display: flex;
    align-items: flex-end;
}

.ProjectsSection_button {
    padding: .5em;
    font-weight: bold;
    font-size: clamp(1rem, 3vw, 1.5rem);
    color: #00C6BD;
    border: 1px solid #00C6BD;
    background: linear-gradient(to left, #141E30 50%, #243B55 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    justify-self: center;
    border-radius: 5px;
}

.ProjectsSection_button:hover {
    cursor: pointer;
    background-position: left;
}

@media screen and (min-width: 1200px) {
    .ProjectsSection {
        padding-left: 10rem;
        padding-right: 10rem;
        row-gap: 4rem;
    }

    .ProjectsSection_projectContainer { 
        max-width: none;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
    }
}
