.Ocean {
    height: 100vh;
    display: grid;
    place-content: center;
}

.Ocean_nameContainer {
    background-color: red;
}

.Ocean_name {
    font-size: clamp(2rem, 9vw, 4rem);
    text-align: center;
}