.AboutSection {
    display: grid;
    padding-top: 4rem;
    padding-bottom: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 2rem;
    color: #141E30;
}

.AboutSection_header {
    text-align: center;
    font-size: clamp(2rem, 9vw, 3rem);
}

.AboutSection_textSection,
.AboutSection_skillsSection {
    display: grid;
    gap: .5rem;
}

.AboutSection_text {
    font-size: clamp(1rem, 4vw, 1.5rem);
    font-family: 'Poppins', sans-serif;
}

.AboutSection_header > span,
.AboutSection_text > span {
    color: #00C6BD;
}

.AboutSection_bold {
    font-weight: bold;
}

.AboutSection_skillsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.AboutSection_skill {
    color: #E2F1FF;
    padding: .2rem .4rem;
    background-color: #243B55;
    font-size: clamp(1rem, 4vw, 1.5rem);
    font-family: 'Poppins', sans-serif;
    border-radius: .5rem;
}

@media screen and (min-width: 1400px) {
    .AboutSection {
        grid-template-columns: 1fr 1fr;
        padding-left: 10rem;
        padding-right: 10rem;
        gap: 4rem;
    }
    .AboutSection_header {
        grid-column: 1 / 3;
    }
}