.Hovering {
    height: 100vh;
    position: relative;
    display: grid;
    place-content: center;
    animation: slideRightToLeft 1s forwards;
}

.Hovering_nameContainer{
    position: relative;
    display: flex;
}

.Hovering_name {
    text-transform: uppercase;
    font-size: 6vw;
	font-family: 'Alfa Slab One', sans-serif;
    font-weight: 900;
    letter-spacing: 1vw;
    place-self: center;
    text-align: center;
}

.Hovering_name {
    z-index: 1;
    color: #F25826;
}

.Hovering_name::before,
.Hovering_name::after {
    position: absolute;
    top: 0;
    left: 0;
    content: attr(data-text);
    transition: all .3s ease;
}

.Hovering_name::after {
    z-index: -1;
    translate: 5px 5px;
    color: #F68722;
    animation: slideRightToLeftLate 1.5s;
}

.Hovering_name::before {
    z-index: 2;
    translate: -5px -5px;
    -webkit-text-stroke: 3px #FECE35;
    -webkit-text-fill-color: transparent;
    animation: slideRightToLeftEarly 1s;
}

.Hovering_name:hover::before {
    transform: translate(-7px, -7px);
}

.Hovering_name:hover::after {
    transform: translate(7px, 7px);
}
